.vscode
models/__pycache__
util/__pycache__
results
datasets/2015_Nakanishi_SSVEP_database
datasets/Tsinghua
datasets/Wearable
datasets/Wearable_split
datasets/BETA
datasets/Noisy-UTEC
weights/*
eval.sh
wilcoxon.py
plots